*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

dist
dist-*

cabal.sandbox.config
cabal.project.local
cabal.project.local~
cabal-dev
.cabal-sandbox/
*/*.cabal
*/*/*.cabal

.hpc
.hsenv
.ghc.environment.*

*.prof
*.aux
*.hp
*.eventlog

.HTF/

/result*

hie-wrapper.sh

.vscode

frontend/src/styles/bulma*
